

.bg-img{
    height: 90vh;
    width:300vh;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
left: 0;
z-index: -1;
}

.para{
    color: rgb(0, 0, 0);
    
    
  }

  h2 {
    text-align: center;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .centre {
    width: 100px;
    height: 510px;;
       display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
   
 .elemnt{
    width: 200px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-weight: 700;
    font-size: 1rem;
    color: aliceblue;

    animation-duration: 3s;
    animation-name:spin;
 } 

           
            
            @keyframes spin {
              0%{

              }50%{scale: 2;}
          100% { tranform:rotate(360deg);
        border-radius: 50%;}
            }
        